<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.docs.files.addrequest_kotlin">

    <!--Internet Permission-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TicketList Activity -->
        <activity
            android:name=".ui.TicketList.TicketListActivity"
            android:label="@string/list_activity_name" />

        <!-- TicketDetail Activity -->
        <activity
            android:name=".ui.TicketDetail.TicketDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/item_detail_activity_name" />

        <!-- FirebaseDbListener Service -->
        <service
            android:name=".threads.FirebaseDbListenerService"
            android:enabled="true" />

        <!-- VideoUpload Service -->
        <service
            android:name=".threads.VideoUploadService"
            android:enabled="true" />

    </application>

</manifest>